@import "./base.css";
$color_1: hsla(160, 100%, 37%, 1);
$background-color_1: hsla(160, 100%, 37%, 0.2);

@font-face {
  font-family: "Eurostile";
  font-style: normal;
  font-weight: normal;
  src: local("Eurostile"), url("eurostile.woff") format("woff");
}

@font-face {
  font-family: "EuroStyle Normal";
  font-style: normal;
  font-weight: normal;
  src: local("EuroStyle Normal"), url("EuroStyle Normal.woff") format("woff");
}

header {
  width: 100%;
}
