////////////////////////////////////////////////////////////////////////
////////////////////////////// Variables ///////////////////////////////
////////////////////////////////////////////////////////////////////////

$colorOrange: #FF6600;
$colorCharcoal: #1D1D20;

////////////////////////////////////////////////////////////////////////
////////////////////////////// Fonts ///////////////////////////////////
////////////////////////////////////////////////////////////////////////

@import url('https://fonts.cdnfonts.com/css/mark-pro');

////////////////////////////////////////////////////////////////////////
////////////////////////////// General styling /////////////////////////
////////////////////////////////////////////////////////////////////////

* {
  font-family: 'Mark Pro', sans-serif;
}

body {
  background: $colorCharcoal
}

header {
	animation: delayedHeader;
	animation-duration: 2;
}


.svg-wrapper {
	animation: scaleText;
	animation-duration: 2s;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;
	transform: scale(1);
}

@keyframes scaleText {
	0% {
transform: scale(0.0);
	}
   
	40% {
		transform: scale(1);
	}
  
	100% {
		transform: scale(1);
	}
  }



@keyframes logoEntrance {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }

  10% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }



  40% {
    stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }

  100% {
    stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
}

.shape {
  animation: logoEntrance;
  animation-duration: 5s;
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: $colorOrange;
	border-bottom: 5px solid black;

}

.text {
    margin: 0;
	font-size: 22px;
    text-align: CENTER;
	color: #fff;
	top: -43px;
	position: relative;
}


.loading {
	z-index: 2;
	transform: translateY(-100%);
	animation: removeLoading;
	animation-duration: 4s;
	transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background: $colorCharcoal;
}


@keyframes removeLoading {
	0% {
		transform: translateY(0%);
		
	}
  
	70% {
	transform: translateY(0%);
	}

	100% {
		transform: translateY(-100%);
	}
}



@media (min-width: 1400px) {
  .container {
      max-width: 1580px!important;
  }
}

header {
  width: 100%;
  .triangle {
    position: absolute;
    pointer-events: none;
   }

}



